* {
    box-sizing: border-box;
}

body {
    color: #202020;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
    line-height: 1.30;
    margin: 0;
    /* min-height: 100vh;
    min-height: 100dvh; */
}

/* layout */

.body,
.hero-post {
    display: grid;
}

.header {
    align-items: center;
    grid-area: header;
    justify-content: space-between;
}

.hero-section {
    grid-area: main;
    margin-bottom: 1em;
}

.featured-article {
    display: grid;
    grid-template-areas: 
        "stack";
    place-items: end;
}

.featured-article > * {
    grid-area: stack;
}

.featured-article-content {
    color: white;
    padding: 0 1em;
    text-shadow: 1px 1px 1px #202020;
    padding-bottom: 1em;
}

.featured-article-content > * {
    margin: 0;
    padding: 0.2em 0;
}

.footer {
    background: #202020;
    color: #d7d7d7;
    flex-direction: column;
    grid-area: footer;
}

/* links */

.header-navigation a,
.main a,
.footer a {
    color: #202020;
    text-decoration: none;
}

.header-navigation a:focus,
.header-navigation a:hover,
.main a:focus,
.main a:hover,
.footer a:focus,
.footer a:hover {
    text-decoration: underline;
}

.header-navigation a:active,
.header-navigation a:visited,
.main a:active,
.main a:visited,
.footer a:active,
.footer a:visited {
    color: #202020;
}

.featured-article a,
.featured-article a:focus,
.featured-article a:hover,
.featured-article a:visited,
.featured-article a:active {
    color: white;
}


/* alignment */

.header,
.header-logo,
.header-navigation ul,
.footer {
    display: flex;
}

.header {
    height: 3.6875em;
}

.header-logo {
    align-items: center;
    display: flex;
    gap: 0.2em;
    padding-left: 1em
}

.header-title {
    font-size: 0.875rem;
    font-weight: 700;
}

.header-navigation ul {
    gap: 1em;
    list-style-type: none;
    margin-right: 1em;
}

.header-navigation li {
    font-size: 0.75rem;
    font-weight: 600;
}


/* sections */

.articles-listing {
    padding-inline: 1.25em;
}

.blog-article {
    padding-block: 1.5em;
}

.blog-article:last-of-type {
    padding-bottom: 3em;
}

.main-article {
    padding-block: 2em;
    padding: 2em 1.25em;
}

.header-navigation li,
.article-date,
.article-date-hero,
.article-date-main {
    text-transform: uppercase;
}

.article-image-hero {
    height: 300px;
}

.article-image,
.article-image-main,
.article-image-hero {
    object-fit: cover;
    width: 100%;
}

.article-image-hero {
    height: 300px;
    object-fit: cover;
}

.article-image,
.article-image-main {
    border-radius: 5px;
}

.article-image-main {
    margin-block: 1em;
}

.article-date,
.article-title,
.article-preview {
    margin: 0.2em;
}

.article-title,
.article-title-hero
.article-title-main {
    font-weight: 700;
}

.article-title {
    font-size: 1.5rem;
}

.article-title-hero,
.article-title-main {
    font-size: 2rem;
}

.article-title-main {
    margin: 0;
}

.view-more {
    display: flex;
    justify-content: center;
    padding-bottom: 2.75em;
}

.view-more-btn {
    background: none;
    border: none;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
}

.subtitle {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.footer-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.25em;
}

.footer-title,
.footer-copyright {
    padding: 0;
    margin: 0;
}

.footer-title {
    font-weight: 700;
}


/* Media Query for minimum screensize of 480px*/
@media (min-width: 30em) {}