* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

/* Utility */

.container {
  max-width: 85%;
  margin: auto;
}

section {
  margin-bottom: 1em;
}

.flex-row,
.flex-column {
  display: flex;
  gap: 0.5em;
}

.flex-row {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.message__title {
  margin: 0;
  font-weight: 700;
}

.message__body {
  padding: 0;
  margin: 8px 0 0 0;
}

/* Badge */

.square,
.pill {
  display: inline-block;
  padding: 2px 12px;
}

.square,
.banner {
  border-radius: 5px;
}

.pill {
  border-radius: 10px;
}

/* Banner */

.banner {
  display: flex;
  align-items: stretch;
  gap: 10px;
  padding: 15px;
}

.banner__icon {
  width: 20px;
  height: 20px;
}

/* Card */

.card {
  margin-top: 40px;
  position: relative;
  background-color: #F9FAFB;
  border-radius: 5px;
  padding: 32px 24px;
  width: 384px;
}

.card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: ease-in-out 0.2s;
}

.card__icon {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 45%;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3f75fe;
  border-radius: 5px;
}

.card__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Testimonial */

.testimonial {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial,
.testimonial__withoutImage {
  height: 450px;
}

.testimonial:nth-of-type(1) {
  margin-top: 200px;
}

.testimonial__withoutImage:nth-of-type(1) {
  margin-top: 50px;
}

.testimonial__image {
  position: absolute;
  width: 70%;
  top: -200px;
  left: 58px;
}

.testimonial__quote {
  display: none;
}

.testimonial__text, 
.testimonialText__withoutImage {
  font-size: 24px;
  line-height: 1.5;
}

.testimonial__text {
  padding: 1em;
}

.testimonialText__withoutImage::before {
  content: '"'
}

.testimonialText__withoutImage {
  padding: 1em;
  text-align: center;
}

.testimonialText__withoutImage::after {
  content: '"'
}

.testimonial__person {
  margin-top: 24px;
  font-size: 1rem;
  font-weight: 700;
}

.testimonial__job-title {
  margin-top: 5px;
  font-size: 1rem;
}

.testimonial,
.testimonial__text,
.testimonial__job-title {
  font-weight: 500;
}

@media (min-width: 500px) {
  .testimonial {
    font-size: 24px;
    height: 400px;
  }

  .testimonial,
  .testimonial__withoutImage {
    margin-top: 80px;
  }

  .testimonial__withoutImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial__image {
    top: -32px;
    left: 14px;
    width: 425px;
  }

  .testimonial__quote {
    display: block;
    margin-bottom: 16px;
    font-size: 48px;
    opacity: 50%;
  }

  .testimonial__text {
    text-align: left;
    padding: 32px 32px 8px 420px;
  }

  .testimonialText__withoutImage {
    padding: 32px;
    line-height: 1.5;
    text-align: center;
    width: 75%;
  }

  .testimonial__text,
  .testimonial__person,
  .testimonial__job-title {
    padding-left: 420px;
  }
}


/* Colors */

.gray {
  color: #1F2937;
  background-color: #F3F4F6;
}

.red {
  color: #991B1B;
  background-color: #FEE2E2;
}

.yellow {
  color: #92400E;
  background-color: #FEF3C7;
}

.green {
  color: #065F46;
  background-color: #D1FAE5;
}

.blue {
  color: #1E40AF;
  background-color: #DBEAFE;
}

.dark-blue {
  background-color: #1E40AF;
  color: #DBEAFE;
}

.indigo {
  color: #3730A3;
  background-color: #E0E7FF;
}

.purple {
  color: #5B21B6;
  background-color: #EDE9FE;
}

.pink {
  color: #9D174D;
  background-color: #FCE7F3;
}