* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #202020;
}

/* Layout */
.grid-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";

}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: 700;
}

.header__title i {
    padding: 0.25em;
}

.header__nav {
    padding-right: 1em;
}

.header__nav ul {
    display: flex;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    grid-area: main;
    grid-template-areas:
        "hero hero hero"
        "articles articles articles";
}

.main__hero {
    grid-area: hero;
}

.hero__post {
    display: grid;
    grid-template-areas: 'stack';
    place-items: end;
}

.hero__post > * {
    grid-area: stack;
}

.hero__content {
    padding: 1em;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #202020;
}

.hero-post__title,
.hero-post__date,
.hero-post__preview {
    margin: 0;
    padding: 0.2em 0;
}

.hero-post__title {
    font-size: 2rem;
}

.hero-post__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.main-articles,
.view-more,
.footer {
    padding: 1em;
}

.main__articles {
    grid-area: articles;
    display: grid;
    grid-auto-flow: row;
    padding: 1em;
}

.article {
    margin-top: 1.5em;
}

.article__image {
    width: 100%;
    object-fit: cover;
    margin-top: 1.5em;
}

.article__date,
.article__title,
.article__preview {
    margin: 0.5em 0;
}

.article__title {
    font-size: 1.5rem;
}

.view-more {
    text-align: center;
}

.footer {
    grid-area: footer;
}


/*
.articles-listing {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
}

.view-more {
    grid-area: viewmore;
    text-align: center;
    margin-bottom: 2em;
}

.footer {
    grid-area: footer;
}


.header-title {
    padding-left: 1em;
}

.header-navigation {
    padding-right: 1em;
}

.header-layout ul {
    display: flex;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-layout a {
    text-transform: uppercase;
    text-decoration: none;
    color: #202020;
}

.header-layout a:hover,
.header-layout a:focus {
    text-decoration: underline 2px;
}

.hero-post {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/245032/pexels-photo-245032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    color: white;
    padding: 1em;
}

.article-date-hero,
.article-title-hero,
.article-preview-hero {
    margin: 0.2em 0;
    text-shadow: 1px 1px #202020;
}

.article-preview-hero {
    width: 65%;
}
*/
