* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    max-width: 550px;
    margin: auto auto;
}

.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.profile-img,
.chat-img {
    width: 2.125em;
    height: 2.125em;
}

.logo-img {
    width: 5.25em;
    height: 2.625em;
}

.main {
    background: linear-gradient(white, rgba(0, 0, 0, 0.02));
    height: 100dvh;
}

.featured-dog {
    display: grid;
    grid-template-areas: "stacked";
    place-items: end left;
}

.dog-photo {
    width: 100%;
    border-radius: 1em;
}

.featured-dog > * {
    color: white;
    grid-area: stacked;
}

.featured-dog div {
    padding: 1em;
}

.featured-dog div h1,
.featured-dog div p {
    margin: 0;
}

.featured-title {
    color: #f8f8f8;
    font-size: 2rem;
}

.featured-subtitle {
    color: #b7b7b7;
    font-size: 1.5rem;
}

.badges {
    place-items: start left;
}

.buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 0.5em;
    padding: 1em;
}

.btn {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 3px 10px #d7d7d7;
    height: 5.625em;
    width: 5.625em;
    margin: 25px;
}

.nope-btn {
    background-image: url('images/icon-cross.png');
}

.nope-btn:hover,
.nope-btn:focus {
    background-color: #ffe7ef;
}

.like-btn {
    background-image: url('images/icon-heart.png')
}

.like-btn:hover,
.like-btn:focus {
    background-color: #dbfff4;
}

.like-or-not {
    position: relative;
}

.badge {
    width: 14.375em;
    rotate: -35deg;
    position: absolute;
    top: 55px;
    left: 10px;
}

.hidden {
    display: none
}

.centered-text {
    text-align: center;
}

@media (max-width: 30em) {
    .dog-photo {
        width: 90%;
        margin: auto;
    }

    .featured-dog div {
        padding: 2em;
    }
}