html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #04131C;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    user-select: none;
}

body,
.container,
.sender-receiver-fields {
    display: flex;
    justify-content: center;
}

.container {
    flex-direction: column;
    align-items: center;
    margin-top: 3.1875em;
    margin-bottom: 1em;
    max-width: 24.375em;
    padding: 2.3125em;
}

@media (min-width: 24.376em) {
    .container {
        max-width: 50em;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.logo {
    width: 5.625em;
}

h1 {
    font-size: 1.5625rem;
}

h2 {
    font-size: 1.25rem;
}

.sender-receiver-fields {
    gap: 1em;
    margin-block: 1em;
    flex-grow: 1;
}

textarea, 
input {
    background-color: #444059;
    color: #8F8F8F;
    font-family: "Inter", sans-serif;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
    padding: 0.75em;
    font-size: 1rem;
    border: none;
}

textarea:focus,
input:focus {
    outline: #28A9F1 2px solid;
}

textarea {
    margin-top: 1.25em;
    height: 7.375em;
}

input:focus::placeholder,
textarea:focus::placeholder {
    content: "";
    color: transparent;
}

button {
    height: 3.8125em;
    width: 100%;
    background-color: #28A9F1;
    color: #04131C;
    font-weight: bold;
    font-size: 1.375em;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

button:focus,
button:hover {
    background-color: #2877F1;
    color: #FFFFFF;
}

.message,
.to-person,
.from-person {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
}

.message {
    color: #1B1924;
    background-color: #FFFFFF;
    padding: 0.875em 1.125em;
    margin-bottom: 1em;
}

.to-person,
.from-person {
    font-weight: bold;
}

.from-person-details {
    display: flex;
    justify-content: space-between;
}
