* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow: auto;
    background-image: url(./assets/yellow-blob.png), url(./assets/lightblue-blob.png);
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
}

div#root {
    padding: 0;
}

main {
    height: 100dvh;
}

.container {
    width: 90%;
    /* margin: auto; */
}

main,
.app_start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__start {
    flex-direction: column;
}

.app__title {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.app__description {
    padding-bottom: 2em;
}

.btn {
    background-color: #4D5B9E;
    border: none;
    border-radius: 0.625em;
    color: #F5F7FB;
    font-weight: 500;
    padding: 1em 3em;
}

.btn__check-answer,
.btn__reset {
    margin-top: 1.5em;
}

.question__container {
    text-align: left;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    padding-bottom: 1em;
    width: 70%;
    border-bottom: 1px solid #DBDEF0;
    margin: auto;
}

.question__container > div {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.question {
    color: #293264;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 1em 0 0 0;
    padding-bottom: 1em;
}

.answer,
.selected-answer,
.correct-answer,
.wrong-answer,
.disabled-answer {
    font-size: 0.625rem;
    font-weight: 500;
    color: #293264;
    padding: 0.5em 1.25em;
    border-radius: 0.625em;
    min-width: 3.75em;
    /* margin-right: 2em; */
}

.answer {
    border: 1px solid #4D5B9E;
}

.answer > input[type='radio'] {
    display: none;
}

.selected-answer {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
}

.correct-answer {
    background-color: #94D7A2;
    border: 1px solid #94D7A2;
}

.wrong-answer {
    background-color: #F8BCBC;
    border: 1px solid #F8BCBC;
}

.disabled-answer {
    border: 1px solid #4D5B9E;
}

.app__score {
    font-weight: 700;
    font-size: 0.8em;
}

.app__score > button {
    margin-left: 2em;
}

/* OLD */

/* body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-image: url(./assets/yellow-blob.png), url(./assets/lightblue-blob.png);
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
} */

/* main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
} */